html {
	background-color: #001;
	color: #fff;
}

body {
	max-width: 1000px;
	padding: 10px;
	margin: auto;
}

button {
	color: #fff;
	background-color: #223;
	border: 2px solid #556;
	border-radius: 4px;
}

input {
	color: #fff;
	background-color: #112;
	border: 2px solid #556;
	border-radius: 4px;
}

input:placeholder-shown {
	font-style: italic;
	color: #aaa;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 2.8em;
}

a, :link, a:visited {
	color: #448;
}

a:hover{
	cursor: pointer;
	color: #fff;
}

#webview {

	width: 100%;
	height: 50vh;
	border-radius: 4px;
}

.webview-fullscreen {
	height: 72vh !important;
}

#urlbar {
	width: 95%;
}

#go-button {
	float: right;
}

#spacebar {
	width: 40em;
}

#keyboard {
	text-align: center;
}

#toggle, #toggle * {
	text-align: center;
	color: #555;
	font-style: italic;
	font-size: 1em;
}

#toggle {
	margin-top: 4px;
}

#credits {
	text-align: center;
	color: #444;
	font-size: 1em;
}

.highlight {
	background-color: #f44;
}

.key {
	font-size: 1.1em;
	margin: 1px 1px 1px 1px;
}

.wide-key {
	min-width: 6.5em;
}

.normal-key {
	width: 3em;
}
